[submodule "ThirdParty/OHAttributedLabel"]
	path = ThirdParty/OHAttributedLabel
	url = https://github.com/danielkbx/OHAttributedLabel.git
[submodule "ThirdParty/uicolor-utilities"]
	path = ThirdParty/uicolor-utilities
	url = git@github.com:danielkbx/uicolor-utilities.git
[submodule "ThirdParty/iso-8601-date-formatter"]
	path = ThirdParty/iso-8601-date-formatter
	url = git://github.com/boredzo/iso-8601-date-formatter.git
